.AdminContainer{
    
}
.AdminNavBar{
    height: 50px;
    display: flex;
    background-color: aqua;
    

}
.logo{
    flex:1;
    display: flex;
}
.logo label{
    font-family: var(--font-family3);
    font-size: 40px;
}
.NavLink{
flex:2;
}
.NavLinkInnerContainer{
    text-align: end;
    margin-top: 14px;
}
.NavLinkInnerContainer a{
    margin-right: 10px;
    margin-top: 5px;
    text-decoration: none;
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    
}